@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.wallet-comp {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-right: 5vw;
  margin-bottom: 10rem;
}

.wallet-comp-extended {
  margin-left: 18rem;
}

.wallet-header {
  padding: 8px 20px;
  background-color: #070c0a;
  border: 1px solid #070c0a;
  border-radius: 6px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.wallet-comp_wallet-options {
  background-color: #0b1210;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wallet-option {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.wallet-option span {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #6e6e71;
}

.wallet-comps {
  display: flex;
  gap: 20px;
}

.wallet-comp_wallet-info {
  width: 100%;
}

.wallet-comp_wallet-balance {
  background-color: #0b1210;
  padding: 20px;
  display: flex;
  gap: 24px;
  width: 100%;
}

.pot-info {
  display: flex;
  gap: 7px;
}

.pot-balance {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.real-balance {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.real-balance_amount {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #88df95 !important;
}

.pot-balance span:nth-child(1) {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e71;
}

.pot-balance span:nth-child(2) {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.mainBalance-section {
  width: 100%;
  margin-top: 20px;
  background-color: #0b1210;
  padding: 20px;
  border-radius: 6px;
}

.mainBalance_hide {
  display: flex;
  justify-content: space-between;
}

.mainBalance_hide span {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6e6e71;
}

.mainBalance_hide input {
  background-color: #0b281f;
  border: 2px solid #0b281f;
  padding: 6px;
  border-radius: 6px;
}

.mainBalance-section p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #6e6e71;
}

.mainBalance-fiat-currency {
  background-color: #070c0a;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 6px;
}

.mainBalance-amount {
  display: flex;
  gap: 24px;
  align-items: center;
}

.mainBalance-amount span:nth-child(1) {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.mainBalance-amount span:nth-child(2),
.mainBalance-amount span:nth-child(3) {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #88df95;
}

.deposit-wallet_main {
    padding: 20px;
}

.crypto-amount-balance {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.currency-title {
  display: flex;
  gap: 5px;
  align-items: center;
}

.currency-title span {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.wallet-deposit {
  background-color: #0b1210;
  padding-top: 20px;
  width: 100%;
}

.wallet-deposit_headers {
  display: flex;
  align-items: center;
}

.wallet-deposit_headers span {
  padding: 10px 20%;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6e6e71;
  border-bottom: 1px solid #44537126;
  width: 100%;
  cursor: pointer;
}

.wallet-deposit_active {
  border-bottom: 1px solid #1fc88e !important;
  font-family: 'Manrope', sans-serif !important;
  font-weight: 600 !important;
  color: #ffffff !important;
}

.wallet-deposit_cryptocoins {
  margin-top: 24px;
  display: flex;
  gap: 10px;
}

.wallet-deposit_cryptocoins div {
  border: 1px solid #6e6e71;
  border-radius: 6px;
  padding: 10px;
  background-color: #070c0a;
  display: flex;
  gap: 5px;
}

.wallet-deposit_cryptocoins div span {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.wallet-deposit p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c5c5c7;
}

.cryptoAddress {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #34B263;
}

.middleAddress {
    color: white;
}

.copy-box {
    background-color: #0B281F;
    border-radius: 6px;
    padding: 2px 8px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.copy-box span {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.deposit-crypto {
    margin-top: 1rem;
    padding: 8px 16px;
    background-color: #070C0A;
    display: flex;
    gap: 10px;
    align-items: center;
}

.deposit-crypto span {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.crypto-notice {
    margin-top: 2rem;
    padding: 8px 16px;
    background-color: #0B281F;
    border-radius: 6px;
}

.crypto-notice_notice-head {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #34B263;
}

.crypto-notice_notice-info {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.crypto-deposit-method_type{
    display: flex;
    gap: 10px;
    width: 100%;
}

.crypto-deposit-method_type div {
    width: 100%;
}

.options-list {
    width: 100%;
    background-color:  #070C0A;
    padding: 16px;
    color: white;
    border: 1px solid #070C0A;
}

.deposit-currency{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6E6E71;
}

.fiat-deposit_amount {
    display: flex;
    justify-content: space-between;
}

.fial-deposit_range {
    color: #6E6E71 !important;
}

.fiat-deposit_options {
    margin-top: 1.5rem;
    display: flex;
    gap: 10px;
}

.fiat-deposit_option {
    padding: 8px;
    background-color: #070C0A;
    border: 1px solid #6E6E71;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.fiat-deposit_option span {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.fiat-deposit_option_active {
    border: 1px solid #1FC88E;
}

.deposit_fiat-btn {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deposit_fiat-btn button {
    background: linear-gradient(to right,  #158C63 50%,  #24E3A1 50%);
    border: 1px transparent;
    border-radius: 6px;
    color: #fff; 
    padding: 10px 30px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.fiat-deposit_info {
    margin-top: 1rem;
    padding: 8px 16px;
    background-color: #0B281F;
    border-radius: 6px;
}

.fiat-deposit_info span {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #88DF95;
}

.withdraw-address_input {
    width: 99%;
    padding: 16px 0px;
    padding-left: 10px;
    background-color: #070C0A;
    border: 1px solid #070C0A;
    border-radius: 6px;
    color: white;
}

.withdraw-address_input:focus {
    outline: none;
    border: 2px solid #24E3A1;
}

.withdraw-amount_title {
    display: flex;
    justify-content: space-between;
}

.withdraw-amount_title p:nth-child(2) {
    color: #6E6E71;
}

.withdraw_amounts {
    margin-top: 1rem;
    background-color: #0D1513;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.withdraw_amounts div {
    display: flex;
    justify-content: space-between;
}

.withdraw_amount-details span:nth-child(1){
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #9E9EA2;
}

.withdraw_amount-details span:nth-child(2){
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.more-info_icon{
    margin-bottom: -4px;
    margin-left: 4px;
}

.accountnumber-input {
    width: 99%;
    padding: 16px 0px;
    padding-left: 10px;
    background-color: #070C0A;
    border: 1px solid #070C0A;
    border-radius: 6px;
    color: white;
}