body {
    background-color: #0D1513;
}

.home-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100vw; /* Set full viewport width */
    height: 100vh
  }

  .min-page-chat{
    width: 80vw;
  }