@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.login-form__forgot-password a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

/* --------- MOBILE RESPONSIVENESS --------- */
@media screen and (max-width: 768px) {
    .mobile-auth {
        background-image: url('/auth-img.png') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        height: 100% !important;
        object-fit: cover;
    }

    .register-logo {
        display: none;
    }

    .register-form {
        background-color: #0B1210;
        justify-self: center;
        align-self: center;
        margin: 50px;
    }

    .register {
       display: grid;
    }

    .mobile-auth {
        display: grid;
    }

    .register-form__input-box input {
        width: 200px;
    }

    .register-form__submit-btn {
        width: 252px;
    }

    .register-form__google-signin {
        width: 252px;
    }

    .register-form__option-box {
        width: 252px;
    }
}