@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.account-settings {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-right: 5vw;
  margin-bottom: 10rem;
}

.account-settings-extended {
  margin-left: 18rem;
}

.account-settings__navs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #0b1210;
  padding: 20px;
  width: 200px;
  height: fit-content;
}

.account-settings__sections {
  display: flex;
  gap: 20px;
}

.account-settings__main-sections {
  width: 100%;
}

.account-settings__section {
  width: 100%;
  background-color: #0b1210;
  padding: 20px;
  margin-bottom: 25px;
}

.account-settings__nav {
  padding: 8px;
  cursor: pointer;
}

.account-settings__nav img {
  margin-right: 10px;
  margin-bottom: -5px;
}

.account-settings__nav span {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #6e6e71;
}

.account-settings__nav-active {
  background-color: #0b281f;
  border-radius: 6px;
}

.account-settings__nav-active span {
  color: white !important;
}

.main-profile-info-box button {
  font-family: 'Manrope', sans-serif;
  height: 36px;
  background-color: #88df95;
  border: 1px solid #88df95;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  align-self: center;
  cursor: pointer;
}

.main-profile-info-box button img {
  margin-left: 5px;
  margin-bottom: -2px;
}

.email-verify_container button img {
  margin-left: 5px;
  margin-bottom: -4px;
}

.main-profile-info-box {
  display: flex;
  gap: 20px;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.account-setting-header {
  background-color: #070c0a;
  width: 116px;
  padding: 8px 20px;
  margin-bottom: 24px;
  border-radius: 6px;
}

.account-setting-header span {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.accountsettings-mobile_nav {
  display: none;
}

.setting-section__header {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.main-profile-info {
  display: flex;
  padding: 8px;
  gap: 20px;
}

.username_details h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.username_details p {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e71;
}

.email-verify_container {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 1rem;
}

.email-verify_container button {
  font-family: 'Manrope', sans-serif;
  background-color: #88df95;
  border: 1px solid #88df95;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  height: 36px;
}

.email-verify-txt {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c5c5c7;
  margin-top: 3rem;
}

.email-txt {
  background-color: #070c0a;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.email-txt img {
  margin-left: 1rem;
  margin-bottom: -4px;
}

.email-txt span {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.security_one {
  background-color: #0b1210;
  padding: 20px;
  border-radius: 6px;
}

.security_one-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.security_one-box {
  background-color: #070c0a;
  padding: 16px;
  border-radius: 6px;
}

.security_one-box h4 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.security_one-box p {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #6e6e71;
}

.black-btn {
  background-color: #0b1210;
  border: 1px solid #0b1210;
  border-radius: 6px;
  width: 100%;
  margin-top: 1rem;
  padding: 8px 16px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.active-btn {
  background: #24e3a1;
  border: 1px transparent;
  border-radius: 6px;
  width: 100%;
  margin-top: 1rem;
  padding: 8px 16px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.session-frame {
  margin-top: 2rem;
  background-color: #0b1210;
  padding: 20px;
  border-radius: 6px;
}

.session-main {
  background-color: #070c0a;
  padding: 20px;
  border-radius: 6px;
}

.session-table th,
.session-table td {
  padding: 20px 40px;
  text-align: left;
}

.session-table th {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e71;
}

.session-table td {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.preference-box {
  background-color: #0b1210;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.preference-one {
  display: flex;
  justify-content: space-between;
}

.preference-one p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.choice-box {
  margin-top: 10px;
}

.choice-box img {
  margin-left: 20px;
  cursor: pointer;
}

.choice-box span {
  background-color: #070c0a;
  border-radius: 6px;
  padding: 8px 16px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.exclude-btn {
  background-color: transparent;
  border: 2px solid #e14453;
  padding: 16px;
  border-radius: 6px;
  margin-top: 1rem;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #e14453;
  cursor: pointer;
}

.preference-one label {
  margin-top: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #44537140;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #24e3a1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #24e3a1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.editusername-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editusername-popup_container {
  position: relative;
  background-color: #0b1210;
  border-radius: 6px;
}

.editusername-popup_header {
  background-color: #0b281f;
  top: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.editusername-popup_header p {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
}

.close {
  cursor: pointer;
  background-color: #070C0A;
  border-radius: 6px;
  padding: 16px;
  color: white;
}

.editusername-popup_main-content {
    padding: 20px;
}

.editusername-popup_edit-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editusername-popup_edit-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.editusername-popup_edit-avatar label {
    background-color: #0B281F;
    border: 1px solid #0B281F;
    padding: 8px;
    border-radius: 6px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.editusername-popup_edit-username {
    margin-top: 24px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #C5C5C7;
}

.editusername-popup_edit-username-box {
    background-color: #070C0A;
    border: 1px solid #070C0A;
    width: 90%;
    padding: 16px;
    border-radius: 6px;
    color: white;
}

.editusername-popup_edit-username-box:focus {
    outline: none;
    border: 2px solid #24E3A1;
}

.edit-username_note {
    font-family: 'Manrope', sans-serif;
    font-size: 11.01px;
    font-weight: 400;
    color: #6E6E71;
}

.edit-username-popup_btn {
    margin-top: 40px;
    width: 100%;
    background: #24E3A1 50%;
    border: 1px transparent;
    border-radius: 6px;
    color: #fff; 
    padding: 10px 20px;
    cursor: pointer;
}

.email-popup_header {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
}

.verify-text-sent {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    max-width: 360px;
    text-align: center;
    margin-bottom: 2rem;
}

.email-bold {
    font-weight: 600 !important;
}

.email-popup_resend {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #88DF95;
    margin-top: 3rem;
}

.email-close {
    position: absolute;
    right: 20px;
}

.self-exclusion_container {
    background-color: #0B281F;
    padding: 20px;
    border-radius: 6px;
}

.self-exclusion_container p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    max-width: 400px;
}

.self-exclude_options {
    margin: 2rem 0;
}

.self-exclude_options label {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    max-width: 400px;
}

.container-exclude {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-exclude input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-exclude {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 2px solid #9E9EA2;
    border-radius: 4px;
  }
  
  /* When the checkbox is checked, add a green background */
  .container-exclude input:checked ~ .checkmark-exclude {
    background-color: #24E3A1;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-exclude:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-exclude input:checked ~ .checkmark-exclude:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-exclude .checkmark-exclude:after {
    left: 5px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chatwithus {
    color: #88DF95 !important;
}

.self-exclusion-btns {
    margin-top: 20px;
    display: flex;
    gap: 24px;
}

.self-exclusion_cancel {
    border: 2px solid #ECECED;
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ECECED;
    width: 114px;
}

.self-exclusion_next {
    background:  #24E3A1;
    border: 2px transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    width: 114px;
}

.period-options {
    padding: 16px;
    background-color: #070C0A;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #070C0A;
    border-radius: 6px;
    width: 100%;
    margin: 2rem 0;
}

.language-table td {
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #6E6E71;
}

.language-active {
    background-color: #0B281F;
    border-radius: 6px;
}

.currency-table td {
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
}

.currency-table td img {
    margin-bottom: -4px;
    margin-right: 5px;
}

.country-name {
    color: #6E6E71 !important;
    margin-left: 10px;
}

.email-txt-verified {
  color: #34B263 !important;
  font-size: 11.01px !important;
  font-family: 'Manrope', sans-serif;
}

.auth-security-p {
  color: #6E6E71;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

.auth-secret-key {
  background-color: #0B281F;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 6px;
}

.auth-secret-key span {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

.auth-security-copy {
  font-size: 12px !important;
}

.auth-secret-key img {
  margin-bottom: -4px;
}

.auth-security input, button {
  display: block;
}

.auth-security input {
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  background-color: #0B281F;
  border: 1px solid #0B281F;
  border-radius: 8px;
  color: white;
}

.auth-security input:focus {
  outline: none;
  border: 2px solid #24E3A1;
}

.auth-security button {
  background:  #24E3A1;
  border: 1px transparent;
  border-radius: 6px;
  color: #fff; 
  padding: 10px 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}


/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .account-settings {
    margin-left: 8px;
  }

  .accountsettings-mobile_nav {
    display: block;
    background: #24E3A1;
    border: 1px transparent;
    border-radius: 6px;
    padding: 8px;
    height: 30px;
    cursor: pointer;
  }

  .accountsettings-mobile_nav img {
    width: 30px;
    height: 30px;
  }

  .settings-dropdown {
    position: fixed;
    top: 200px;
    left: 60vw;
  }

  .settings-dropdown-content {
    position: relative;
    background-color: #0B1210;
    border-radius: 16px;
    padding: 20px;
  }

  .settings-dropdown-content hr {
      margin-bottom: 20px;
  }

  .settings-dropdown-cta {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
  }

  .settings-dropdown-cta a {
      display: flex;
      gap: 10px;
      align-items: center;
  }

  .settings-dropdown-cta span {
      color: #6E6E71;
      font-size: 14px;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
  }

  .settings-dropdown-cta a {
      color: #6E6E71;
      font-size: 14px;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
  }

  .settings-dropdown-cta .vip {
      color: #F29100;
  }

  .account-settings__navs {
    display: none;
  }

  .security_one-container {
    flex-direction: column;
  }

  .email-txt {
    padding: 16px;
  }

  .email-txt img {
    margin-left: 0.5rem;
    margin-bottom: -4px;
  }
}