@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.chatroom-popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #070c0a;
  transition: transform .3s ease-in;
  transform: translateX(100%);
  height: calc(100% - 5rem);
  margin-top: 5rem;
  width: 300px;
}

.chatmsg-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.chatroom-popup.open {
  transform: translateX(0);
}

.chatroom-popup-popup_container {
  height: 100%;
  /* overflow-y: scroll; */
}

.chatroom-popup_header {
  background-color: #0b281f;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.chatroom-popup_header p {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
}

.chatroom-btn {
  display: none;
  place-items: center;
  background-color: #070c0a;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}

.arrow {
  cursor: pointer;
  background-color: #070c0a;
  border-radius: 6px;
  padding: 9px;
  color: white;
  height: 30px;
  width: 30px;
}

.chatroom-maincontent {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-between;
  max-height: calc(100vh - 5rem - 56px - 72px - .5rem);
  overflow-y: scroll;
}

.chatroom_languages {
  background-color: #070c0a;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 6px;
  padding: 20px;
}

.chatroom-chatbox__container {
  background-color: #070c0a;
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.minimized {
  max-height: 40vh;
}

.chatroom_language {
  padding: 8px 16px;
}

.chatroom_language img {
  margin-left: 8px;
}

.chatroom_language-active {
  border: 1px solid #019f3c;
  border-radius: 6px;
}

.chatroom_language span {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.chatroom-chatbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3px;
}

.chatroom-message-content {
  display: flex;
  gap: 10px;
}

.chatroom-message-content img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chatroom-chat-txt {
  background-color: #0B281F;
  padding: 14px;
  border-radius: 8px;
  flex: 1;
  border-top-left-radius: 0;
}

.chatroom-chat-txt span {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.chatroom-user-profile {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.chatroom-user-profile span {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.chatroom-user-profile span:last-child {
  color: #9E9EA2;
  font-size: 12px;
  font-weight: 400;
}

.chatroom-input {
  position: fixed;
  display: flex;
  gap: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 8px;
  background: #0B281F;
}

.chatroom-input input {
  background-color: #070C0A;
  padding: 14px;
  border: 2px solid #88DF95;
  border-radius: 6px;
  color: white;
  flex: 1;
}

.chatroom-input input:focus {
  outline: none;
  border: 2px solid #24E3A1;
}

.chatroom-input button {
  background: rgb(11, 40, 31);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border-radius: var(--button-xl-border-radius, 6px);
  background: conic-gradient(from 0deg at 50% 50%, #88DF95 0deg, #01252C 360deg);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00) inset;
  flex: 1;
  max-width: 50px;
  display: grid;
  place-items: center;
}

.user-tag {
  color: #88DF95 !important;
}

.chatmsg-error {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.login-chat {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.openChat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  place-items: center;
  width: 60px;
  height: 60px;
  background-color: #019f3c;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(189, 189, 189, 0.315);
  transition: 0.3s;
}

.openChat:hover {
  background-color: #0b281f;
}



@media screen and (max-width: 1200px) {
  .chatroom-btn {
    display: grid;
  }
  .openChat {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .chatroom-popup {
    width: 100%;
  }
}