@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');
 
.chatroom-popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #070c0a;
  transition: transform 2s ease-in;
  transform: translateX(100%);
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  width: 300px;
} 

.chatroom-popup.open {
  transform: translateX(0);
}

.chatroom-popup-popup_container { 
  height: 100%;
  overflow-y: scroll;
}

.chatroom-popup_header {
  background-color: #0b281f;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.chatroom-popup_header p {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
}

.chatroom-btn {
    display: flex;
    gap: 10px;
}

.close {
  cursor: pointer;
  background-color: #070c0a;
  border-radius: 6px;
  padding: 16px;
  color: white;
}

.arrow {
    cursor: pointer;
    background-color: #070c0a;
    border-radius: 6px;
    padding: 9px;
    color: white;
    height: 30px;
    width: 30px;
}

.chatroom-maincontent {
  display: flex;
  gap: 10px;
  padding: 20px;
  width: 230px;
}

.chatroom_languages {
  background-color: #070c0a;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 6px;
  padding: 20px;
}

.chatroom-chatbox__container {
  background-color: #070c0a;
  border-radius: 6px;
  padding: 20px;
}

.minimized {
    max-height: 40vh;
}

.chatroom_language {
  padding: 8px 16px;
}

.chatroom_language img {
    margin-left: 8px;
}

.chatroom_language-active {
  border: 1px solid #019f3c;
  border-radius: 6px;
}

.chatroom_language span {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.chatroom-chatbox {
    display: flex;
    gap: 20px;
    margin: 40px 0px;
}

.chatroom-chat-txt {
    background-color: #0B281F;
    padding: 14px;
    border-radius: 8px;
    max-width: 396px;
}

.chatroom-chat-txt span {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.chatroom-user-profile {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chatroom-user-profile span {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: -10px;
}

.chatroom-user-profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chatroom-input {
  position: fixed;
  display: flex;
  gap: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 8px;
}

.chatroom-input input {
    background-color: #070C0A;
    padding: 14px;
    border: 2px solid #88DF95;
    border-radius: 6px;
    color: white;
}

.chatroom-input input:focus {
    outline: none;
    border: 2px solid #24E3A1;
}

.chatroom-input button {
    background:  rgb(11, 40, 31);
    border: 1px transparent;
    border-radius: 6px;
    color: #fff;
    /* padding: 8px 16px; */
    cursor: pointer;
    transition: 0.3s;
}

.user-tag {
    color: #88DF95 !important;
}

.chatmsg-error {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.login-chat {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.hide-cancel-button {
  display: none;
}

/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .chatroom-popup {
    width: 100vw;
  }
}