@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.desc {
  margin-top: 3rem;
  max-width: 100%;
  background-color: #060a08;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 1rem;
}

.desc-extended {
  padding-left: 18rem;
}

.desc h5 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
  padding-top: 0;
  margin-top: 0;
}

.desc p {
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.desc-cta {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.desc-cta span {
    font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #88DF95;
  margin: 0;
}

.desc-cta span:hover {
  color: white;
}


/* --------- MOBILE RESPONSIVENESS --------- */
@media screen and (max-width: 768px) {
  /* .desc {
    width: 95vw;
    padding-left: 8px;
    padding-right: 5px;
  } */
 }