@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.dicetable {

  margin-top: 2rem;

  margin-bottom: 100px;
}

.dicetable-extended {
  margin-left: 18rem;
}

.dicebets-toggle {
  display: flex;
}

.dicebets-toggle .dice-bets {
  background-color: #077e551a;
  border: 1px solid #077e551a;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
}

.dicebets-toggle .desc-info {
  background-color: #070c0a;
  border: 1px solid #070c0a;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #6e6e71;
  cursor: pointer;
  transition: .3s;
}

.dicebets-toggle {
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
}

.dicetable-section {
  margin-top: 16px;
  background-color: #070c0a;
  padding: 10px;
  overflow: hidden;
}

.dicetable-tab-content {
  overflow-x: scroll;
}

.dicetable-betstitle {
  padding-top: 10px;
  /* margin: 10px; */
  display: flex;
  width: 100%;
  border: 1px solid #0d1513;
  border-radius: 6px;
}

.dicetable-betstitle div {
  width: 50%;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.dicetable-section table {
  margin: 0 auto;
}

.dicetable-betstitle_all-bets {
  color: white;
}

.dicetable-betstitle_my-bets {
  background: #077e551a;
  color: #6e6e71;
}

.livebets-table_table th,
tr {
  padding-right: 70px;
}

.dicetable-description-information {
  padding: 1rem 0;
}

.dicetable-description-information h3 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #9e9ea2;
  margin-bottom: 2rem;
}

.dicetable-description-information p {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #9e9ea2;
  margin-bottom: 1.3rem;
}

.dicetable-description-information h5 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #9e9ea2;
}

.dicetable-description-information h6 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #9e9ea2;
}

.randomize-seed {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.randomize-seedbox {
  background-color: #070C0A;
  padding: 16px;
  border-radius: 6px;
  width: 340px;
}

.randomize-seedbox p {
  color: #6E6E71 !important;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

.randomize-seed button {
  border-radius: 6px;
  color: #fff;
  padding: 14px;
  cursor: pointer;
  transition: 0.1s;
  background: conic-gradient(from 0deg at 50% 50%, #88DF95 0deg, #01252C 360deg);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00) inset;
  background-size: 200%;
  background-position: top left;
}

.randomize-seed button:hover {
  background-position: bottom right;
}



/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 540px) {
  .randomize-seed {
    margin-bottom: 2rem;
  }
  .randomize-seedbox {
    width: 100%;
  }
}