@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.single-li {
  padding-left: 20px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9E9EA2;
}

.nostyle-list {
    list-style: none;
}

.nostyle-list li {
    margin-bottom: 5px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9E9EA2;
}
