@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.dicetable {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-right: 5vw;
  margin-bottom: 100px;
}

.dicetable-extended {
  margin-left: 18rem;
}

.dicebets-toggle {
  display: flex;
}

.dicebets-toggle .dice-bets {
  background-color: #077e551a;
  border: 1px solid #077e551a;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.dicebets-toggle .desc-info {
  background-color: #070c0a;
  border: 1px solid #070c0a;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #6e6e71;
  cursor: pointer;
}

.dicetable-section {
  margin-top: 16px;
  background-color: #070c0a;
  padding: 10px;
  overflow-x: scroll;
}

.dicetable-betstitle {
  padding-top: 10px;
  /* margin: 10px; */
  display: flex;
  width: 100%;
  border: 1px solid #0d1513;
  border-radius: 6px;
}

.dicetable-betstitle div {
  width: 50%;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.dicetable-betstitle_all-bets {
  color: white;
}

.dicetable-betstitle_my-bets {
  background: #077e551a;
  color: #6e6e71;
}

.livebets-table_table th,
tr {
  padding-right: 70px;
}

.dicetable-description-information h3 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #9e9ea2;
}

.dicetable-description-information p {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #9e9ea2;
}

.dicetable-description-information h5 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #9e9ea2;
}

.dicetable-description-information h6 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #9e9ea2;
}

.randomize-seed {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.randomize-seedbox {
  background-color: #070C0A;
  padding: 16px;
  border-radius: 6px;
  width: 299px;
}

.randomize-seedbox p {
  max-width: 100px;
  color: #6E6E71;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

.randomize-seed button {
  background:  rgb(11, 40, 31);
  border: 2px solid #88DF95;
  border-radius: 6px;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: all 0.7s var(--ease-in-out);
}

.randomize-seed button:hover {
  background: #88DF95;
}



/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .dicetable {
    margin-left: 8px;
    overflow-x: scroll;
    width: 95vw;
    margin-right: 5px;
  }
}