@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.dicetutorial {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-right: 5vw;
  margin-bottom: 100px;
}

.dicetutorial-extended {
  margin-left: 18rem;
}

.dicetutorial-hero img {
  width: 100%;
}

.dicetutorial-hero h1 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #9e9ea2;
}

.dicetutorial h3 {
  font-size: 22px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #9e9ea2;
}

.dicetutorial p {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #9e9ea2;
}


/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .dicetutorial {
    margin-left: 8px;
  }
}