@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.footer {
  background-color: #0d1513;
  padding: 0 2rem;
}

.footer-extended {
  padding-left: 18rem;
}

.footer h4 {
  margin-top: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer-sponsor {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.footer-cta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-cta__left p {
  max-width: 317px;
  margin-top: 1rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.footer-cta__right {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-cta-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-cta-items-social {
}

.footer-cta__right p {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.footer-cta-items a {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6e6e71;
  text-decoration: none;
  cursor: pointer;
}

.footer-cta-items a:hover {
  color: #24E3A1;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
}

.social-icons img {
  cursor: pointer;
}

.copyright {
  margin-top: 80px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  margin-bottom: 40px;
}

/* --------- MOBILE RESPONSIVENESS ---------- */
