@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.home-hero {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8rem;
  margin-right: 5vw;
  margin-top: 3rem;
  background-size: cover;
  max-width: 100%;
  border-radius: 12px;
}

.home-hero-extended {
  margin-left: 18rem;
}

.home-hero__txt-section {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  align-items: left;
  text-align: left;
  margin-left: 50px;
}

.home-hero__txt-section h4 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

.home-hero__txt-section p {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1rem;
}

.home-hero__txt-section button {
  background: linear-gradient(to right, #158c63 50%, #24e3a1 50%);
  color: #ffffff;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-hero__user-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-left: 50px;
}

.home-hero__user-info h4 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #ffffff;
}

.home-hero__user-info-box {
  box-shadow: 0px 20px 40px 0px #00000040;
  border: 1px solid #24e3a1;
  background-color: rgba(5, 46, 17, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 320px;
}

.home-hero__user-info-box h4 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.home-hero__user-info-box__level {
    display: flex;
    justify-content: space-between;
    /* margin-top: 1rem; */
}

.hero__rank-info {
    font-size: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #6E6E71;
}

.bronze {
    color: 
    #CD7F32;
}

.silver {
    color: 
    #C0C0C0;
}

.xp {
    color: #88DF95;
}

.range-level {
    accent-color: white;
    width: 100%;
    background-color:pink;
}

.vip-progress-head {
    margin-top: 100px !important;
}


/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .home-hero {
    align-self: center;
    margin-left: 8px;
    margin-top: 0;
    height: 250px;
    width: 100%;
  }

  .home-hero__txt-section {
    max-width: 200px;
    /* margin-left: 0; */
  }

  .home-hero__txt-section h4 {
    font-size: 24px;
  }

  .home-hero__txt-section p {
    font-size: 14px;
  }

  .home-hero__user-info {
    /* margin-left: 0; */
  }

  .home-hero__user-info-box {
    width: 200px;
  }

  .home-hero__user-info-box h4 {
    font-size: 14px;
  }

  .home-hero__user-info-box__level {
    margin-top: 1rem;
  }
}
