@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.home-hero {
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.home-hero-extended {
  margin-left: 18rem;
}

.home-hero__txt-section {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  align-items: left;
  text-align: left;
  margin-left: 50px;
}

.home-hero__txt-section h4 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

.home-hero__txt-section p {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.home-hero__txt-section button {
  background: rgb(11, 40, 31);
  color: #ffffff;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: var(--button-l-border-radius, 6px);
  background: conic-gradient(from 0deg at 50% 50%, #88DF95 0deg, #01252C 360deg);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00) inset;
  background-size: 200% 200%;
}

.home-hero__txt-section button:hover {
  background-position: 100%;
}

.home-hero__user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home-hero__user-info h4 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #ffffff;
}

.home-hero__user-info-box {
  box-shadow: 0px 20px 40px 0px #00000040;
  background-color: rgba(5, 46, 17, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 420px;
  border-radius: var(--Button-corner-radius, 8px);
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(0, 0, 0, 0.50);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.15), 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
}

.home-hero__user-info-box h4 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: .7rem;
}

.home-hero__user-info-box__level {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
}

.hero__rank-info {
  font-size: 10px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: #6E6E71;
  display: flex;
  align-items: center;
  gap: 5px;
}

.bronze {
  color:
    #CD7F32;
}

.silver {
  color:
    #C0C0C0;
}

.xp {
  color: #88DF95;
}

.range-level {
  accent-color: white;
  width: 100%;
  background-color: pink;
}

.vip-progress-head {
  margin-bottom: 1rem;
}


/* --------- MOBILE RESPONSIVENESS ---------- */

@media screen and (max-width: 768px) {
  .home-hero {
    padding: 1rem;
  }
  .home-hero__user-info {
    width: 100%;
  }
  .home-hero__user-info-box {
    width: 100%;
  }
}