@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.profile-dropdown {
  position: absolute;
  top: 80px;
  right: 0;
}

.profile-dropdown-content {
  background-color: #0B281F;
  border-radius: 16px;
  padding: 20px;
}

.profile-dropdown-content hr {
    margin-bottom: 20px;
}

.profile-dropdown-cta {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.profile-dropdown-cta:hover {
    background-color: #24e3a1;
    border-radius: 8px;
}

.profile-dropdown-cta a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-dropdown-cta span {
    color: #6E6E71;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.profile-dropdown-cta a {
    color: #6E6E71;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.profile-dropdown-cta .vip {
    color: #F29100;
}