@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:wght@400;600&display=swap');

.recent-wins {
    background: #070C0A;
    margin-left: 8rem;
    margin-top: 2rem;
    margin-right: 5vw;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 9px;
}

.recent-wins__extended {
    margin-left: 18rem;
}

.recent-wins__title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.active-wins {
    border-radius: 50%;
    background: rgb(11, 40, 31);
    width: 8px;
    height: 8px;
    margin-left: 1rem;
    transition: all 0.7s var(--ease-in-out);
}

.recent-wins__title h4 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 1rem;
}

.recent-wins__container {
    display: flex;
    margin-left: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.recent-wins__coin-info {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.recent-wins__coin-info span {
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.recent-wins__egold {
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #34B263;
}

/* --------- MOBILE RESPONSIVENESS --------- */
@media screen and (max-width: 768px) {
    .recent-wins {
        width: 100vw;
        margin-left: 8px;
        margin-right: 5px;
    }
}