body {
    padding: 0;
    margin: 0;
    background-color: #0B1210;
}

.sidenav-expanded {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0B1210;
    padding: 20px;
    width: 85px;
    transition: .5s;
    margin-top: 5rem;
}

.sidenav-expanded.open {
    width: 250px;
}

.sidenav__icon {
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
}

.nav__icon {
  display: flex;
  align-items: center;
}

.nav-icon {
    background-color: #077E551A;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.sidenav__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav__link span {
    white-space: nowrap;
    overflow: hidden;
}

.sidenav__link {
    background-color: #070C0A; 
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.sidenav__link:hover, .sidenav__link.active {
    background-color: #0B281F;
}

.sidenav__link span  {
    color: #6E6E71;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.sidenav__link a {
    color: #6E6E71;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.sidenav-vip {
    color: #F29100 !important;
}

.sidenav-mini{
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0B1210;
    transition: 0.5s;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidenav__link-mini {
    background-color: #070C0A;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.sidenav__link-mini:hover {
    background-color: rgb(11, 40, 31);
    border-radius: 6px;
}

.mobile-chat {
    display: none;
}




/* --------- MOBILE RESPONSIVENESS --------- */
@media screen and (max-width: 768px) {
  .nav__icon {
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .sidenav-expanded {
    transform: translateX(-100%);
  }
  .sidenav-expanded.open {
    width: 250px;
    transform: translateX(0);
  }
}